@use "../globals" as *;
@use "../parts/common" as *;

.swiper {
  overflow: visible !important;
}

.hero {
  // @extend .pb-sm;
  // @extend .mb-lg;
  overflow: hidden;
  padding-top: $navHeight-m;
  width: 100%;
  background-image: radial-gradient(
    circle at 10% 20%,
    rgb(245, 255, 204) 0%,
    rgb(255, 226, 226) 90%
  );

  @include mq(lg) {
    padding-top: $navHeight;
  }
  &__inner {
    max-width: 90%;
    width: 100%;
    text-align: center;
    padding: 50px 0 30px 0;
    margin: 0 auto;
    @include mq(md) {
      padding: 80px 0 30px 0;
    }

    & img {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      object-fit: contain;
      &:nth-of-type(1) {
        margin-bottom: 20px;
      }
    }
  }
  &__title {
    @extend .font-lg;
    @extend .mb-md;
    // font-family: "M PLUS Rounded 1c", sans-serif;
  }
  &__desc {
    @extend .font-md;
    @extend .mb-md;
    font-weight: 600;
  }
}

.hero-sub {
  @include mq(lg) {
    padding-top: $navHeight;
  }
  &__inner {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(46, 87, 149, 0.5);
    }
  }
  &__titles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: $cWhite;
  }
  &__maintitle {
    font-family: new-order, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    @include mq(md) {
      font-size: 35px;
    }
    @include mq(lg) {
      font-size: 50px;
    }
    &.privacy {
      font-size: 16px;
      @include mq(md) {
        font-size: 30px;
      }
      @include mq(lg) {
        font-size: 45px;
      }
    }
  }
  &__subtitle {
    text-align: center;

    font-weight: 500;
    font-size: 12px;
  }
  &__img {
    height: 25vh;
    @include mq(lg) {
      height: 40vh;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
