$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #f2f2f2;
$contentMaxWidth: 1070px;
$cPink: #ea6ca4;
$navHeight: 80px;
$navHeight-tb: 70px;
$navHeight-m: 50px;
$mainColor: #2e5895;
$cWhite-o: rgba(255, 255, 255, 0.8);
$cBtnColor: #aa6c16;
$main-txt: #333333;
$lightGray: #b1b1b1;
$cGreen: #7ac943;
$cLight-Green: #ecf4e3;
$cBlue: #2a93e9;
