@use "../globals" as *;
@use "../parts/common" as *;
@use "../parts/button" as *;

#container {
  position: relative;
  z-index: 10;
  background: $cWhite;
  transition: transform 0.5s, box-shadow 0.5s;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}
.front-page-bg {
  background: #fbe3e7;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight-m;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  @include mq(md) {
    height: $navHeight-tb;
    background: $cWhite-o;
  }
  @include mq(lg) {
    height: $navHeight;
  }

  &.triggered {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0 28px -3px rgba(102, 102, 102, 0.5);
    transition: all 0.3s;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    display: none;

    @include mq(lg) {
      display: block;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;

    & .event-none {
      pointer-events: none;
    }
  }

  &__li {
    margin: 5px;
    position: relative;
    & > a {
      color: $main-txt;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 15px;
      font-weight: 600;
      &:hover {
        color: $cPink;
      }
    }

    & .sub-menu {
      position: absolute;
      left: 0;
      top: 52px;
      z-index: 4;
      background: rgba(255, 255, 255, 0.9);
      width: 180px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s;
      display: block;
      padding: 0;
      list-style: none;
      box-shadow: 1px 1px 2px rgba(102, 102, 102, 0.2);
      & li {
        border-bottom: solid 1px rgba(102, 102, 102, 0.2);
        display: flex;
        &:nth-child(2) {
          border-bottom: none;
        }
        & > a {
          width: 100%;
          height: 100%;
          padding: 20px 10px;
          text-decoration: none;
          color: $main-txt;
          &:hover {
            background: $cWhite-o;
            color: $cWhite;
          }
        }
      }
    }
    &:hover .sub-menu {
      visibility: visible;
      opacity: 1;
    }
  }

  & .logo {
    width: clamp(50px, 10vw, 110px);

    position: relative;
    top: 20px;

    background: $cWhite;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #333;

    & > a {
      text-decoration: none;

      display: flex;
      align-items: center;
    }
  }
}

.news {
  @extend .pt-lg;
  @extend .pb-lg;
  background-color: #d7eeff;

  &__inner {
    position: relative;
    background: $cWhite;
    max-width: $contentMaxWidth;
    @extend .content-width;
    border-radius: 0 20px 20px 20px;
    padding: 20px;
  }

  &__list {
    list-style: none;
    padding: 0;
    @extend .mb-md;
  }
  &__box {
    border-bottom: 0.5px solid $lightGray;
    display: block;
    margin-bottom: 10px;
    transition: 0.3s ease;
    padding: 5px 5px;

    &:hover {
      // background-color: $cImage-color;
      & a {
        color: $main-txt;
      }
    }
    & a {
      color: $main-txt;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: inline-block;
    }

    & time {
      position: relative;
      padding-right: 20px;
      font-size: 12px;
      display: inline-block;
      font-family: "Zen Kaku Gothic Antique", sans-serif;
      @include mq(md) {
        width: 160px;
      }
      @include mq(lg) {
        position: relative;
        padding-right: 150px;
        margin-right: 20px;
        width: 250px;
        &::before {
          background-color: $cWhite;
          @include mq(lg) {
            content: "";
            position: absolute;
            right: 22px;
            top: 50%;
            height: 1px;

            width: 100px;
          }
        }
      }
    }
  }
  &__des {
    font-family: "Noto Sans JP", sans-serif;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 3px;

    @include mq(md) {
      font-size: 16px;
      display: inline-block;
      margin-top: 0;
    }
  }

  &__notinfo {
    text-align: center;
    padding: 80px 0;
    & > p {
      margin: 0;
      @extend .font-md;
      font-weight: bold;
    }
  }
  &__btn {
    text-align: center;
    margin-top: 30px;
    & .btn {
      max-width: 300px;
      width: 100%;
      border: 1px solid $cSubTitle;
      border-radius: 30px;
      color: $main-txt;
      &::after {
        content: "\f054";
        font-family: "Font Awesome 5 free";
        font-weight: 600;
        position: absolute;
        right: 10px;
      }
    }
  }
  & .post-categories {
    position: absolute;
    top: -44px;
    left: 0;
    background: $cWhite;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
    & li {
      list-style: none;
      & > a {
        color: $main-txt;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
  & .cat {
    min-width: 64px;
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    margin-right: 10px;
    padding: 2px 8px;
    border-radius: 2px;
    flex-basis: 18%;
    text-align: center;
    background-color: $cBlue;
    color: $cWhite;
    & li {
      list-style-type: none;
    }
  }
}

.news-event {
  @extend .pt-lg;
  @extend .pb-md;
  background-color: $cLight-Green;

  &__inner {
    position: relative;
    background: $cWhite;
    max-width: $contentMaxWidth;
    @extend .content-width;
    min-height: 250px;
    border-radius: 20px;
    padding: 20px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }
  &__box {
    border-bottom: 0.5px solid ghostwhite;

    display: block;
    margin-bottom: 10px;
    transition: 0.3s ease;
    padding: 3px 5px;

    &:hover {
      & a {
        color: $main-txt;
      }
    }
    & a {
      color: $main-txt;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: inline-block;
    }

    & time {
      font-family: "Zen Kaku Gothic Antique", sans-serif;
      position: relative;
      padding-right: 20px;

      font-size: 12px;
      display: inline-block;
      @include mq(md) {
        width: 160px;
      }
      @include mq(lg) {
        position: relative;
        padding-right: 150px;
        margin-right: 20px;
        width: 250px;
        &::before {
          background-color: $cWhite;
          @include mq(lg) {
            content: "";
            position: absolute;
            right: 22px;
            top: 50%;
            height: 1px;

            width: 100px;
          }
        }
      }
    }
  }
  &__des {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 3px;

    @include mq(md) {
      font-size: 16px;
      display: inline-block;
      margin-top: 0;
    }
  }

  &__notinfo {
    text-align: center;
    padding: 80px 0;
    & > p {
      margin: 0;
      @extend .font-md;
      font-weight: bold;
    }
  }
  &__btn {
    text-align: center;
    margin-top: 30px;
    & .btn {
      max-width: 300px;
      width: 100%;
      border: solid 1px $cSubTitle;
      border-radius: 30px;
      &::after {
        content: "\f054";
        font-family: "Font Awesome 5 free";
        font-weight: 600;
        position: absolute;
        right: 10px;
      }
    }
  }
  & .post-categories {
    position: absolute;
    top: -44px;
    left: 0;
    background: $cWhite;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
    & li {
      list-style: none;
      & > a {
        color: $main-txt;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}

.outline {
  @extend .pt-lg;
  max-width: $contentMaxWidth;
  @extend .content-width;
  @extend .mb-lg;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(15px, 3vw, 38px);
    @extend .mb-md;

    & .wrap {
      font-family: "Noto Sans JP", sans-serif;
      width: 40px;
      height: 40px;
      padding: 4px;
      background: $cWhite;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;

      margin-right: 5px;
      @include mq(md) {
        width: 50px;
        height: 50px;
        font-size: 14px;
        margin-right: 10px;
      }
      @include mq(lg) {
        font-size: 20px;
        width: 90px;
        height: 90px;
        margin-right: 20px;
      }

      & > span {
        color: $cPink;
        line-height: 1.3;
      }
    }

    &::after {
      margin-left: 5px;
      width: 36px;
      height: 36px;
      content: "";
      display: inline-block;
      background-image: url(./images/deai-man.png);
      background-size: contain;
      vertical-align: middle;
      background-repeat: no-repeat;
      @include mq(md) {
        width: 50px;
        height: 50px;
        margin-left: 10px;
      }
      @include mq(lg) {
        margin-left: 20px;
        width: 120px;
        height: 120px;
      }
    }
  }
  &__desc {
    font-weight: 500;
    line-height: 1.6;
    @extend .font-md;
    @extend .mb-md;
  }
  &__img {
    & > img {
      margin: 0 auto;
      object-fit: contain;
    }
  }
  &__img-tit {
    text-align: center;
    font-size: clamp(14px, 3vw, 23px);
    @extend .mb-sm;
    font-weight: 500;
  }
}
.worries {
  max-width: $contentMaxWidth;
  @extend .content-width;
  @extend .mb-lg;
  &__desc {
    color: #757474;
    padding: 20px;
    background: $cWhite;
    outline: 4px solid $cWhite;
    outline-offset: 2px;
    border: solid 2px $cPink;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h3 {
      font-size: clamp(18px, 4vw, 30px);

      @extend .mb-sm;
    }
    & > ul {
      font-size: clamp(14px, 4vw, 24px);

      padding-left: 10px;
      line-height: 1.8;

      & li {
        position: relative;
        list-style: none;
        font-weight: 500;
        &::before {
          content: "\025ce";
          /* 配置を調整 */
          position: absolute;
          display: block;
          top: 0.5px;
          left: -21px;
        }
      }
    }
  }
}

.recruitment {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $contentMaxWidth;
  @extend .content-width;
  @extend .mb-md;

  &__desc-top {
    @extend .mb-md;
    & p {
      color: $cPink;
      &:nth-of-type(1) {
        @extend .font-lr;
        @extend .mb-sm;
        font-weight: 600;
      }
      &:nth-of-type(2) {
        @extend .font-sm;
        font-weight: 500;
      }
      @include mq(md) {
        text-align: center;
      }
    }
    & h3 {
      border-top: 3px solid $cPink;
      border-bottom: 3px solid $cPink;
      text-align: center;
      padding: 20px 0;
      margin-bottom: 10px;
      @extend .font-lg;
    }
  }
  &__desc-second {
    @extend .mb-md;

    & h4 {
      @extend .font-lr;
    }
    & p {
      @extend .font-sm;
      line-height: 1.6;
      font-weight: 500;
    }
  }
  &__desc-heart {
    @extend .flex;
    justify-content: space-between;
  }
  &__desc-heart-left,
  &__desc-heart-right {
    flex-basis: 48%;
    @extend .mb-md;
  }
  &__desc-heart-img {
    max-width: 300px;
    @extend .mb-sm;
    margin: 0 auto;
  }
  &__desc-heart-tit {
    @extend .font-lr;
    font-weight: 800;
    margin-bottom: 10px;
  }
  &__desc-heart-txts {
    display: flex;
    flex-direction: column;

    align-items: center;
    & ul {
      list-style: none;
      padding-left: 7px;

      line-height: 1.8;
      & li {
        @extend .font-ssm;
        position: relative;
        list-style: none;
        font-weight: 500;
        &::before {
          content: "\025ce";
          /* 配置を調整 */
          position: absolute;
          display: block;
          top: 0.5px;
          left: -15px;
        }
      }
    }
  }
  &__desc-entry {
    @extend .mb-md;

    & h4 {
      position: relative;
      font-size: clamp(17px, 4vw, 30px);

      & > span {
        margin-right: 5px;
      }
    }
    & p {
      @extend .font-sm;
      font-weight: 500;
      line-height: 1.6;
      margin-bottom: 10px;
    }
  }
  &__pdf {
    @extend .flex;
    margin-bottom: 20px;
    @extend .font-md;
  }
  &__pdf-btn {
    margin-bottom: 5px;
    @include mq(md) {
      margin-right: 30px;
    }
    &::before {
      content: "\025cf";
      width: 20px;
      height: 20px;
    }
    & > a {
      font-family: "Zen Kaku Gothic Antique", sans-serif;
      color: #2e5895;

      font-weight: 500;
    }
    & span {
      font-weight: 500;
      &:last-child {
        display: block;
        @include mq(md) {
          display: inline;
        }
        margin-left: 20px;
        & > a {
          color: #2e5895;
          margin-right: 16px;
        }
      }
    }
  }
}
.benefits {
  max-width: $contentMaxWidth;
  @extend .content-width;
  @extend .mb-lg;
  &__inner {
    position: relative;

    background-image: radial-gradient(
      circle at 10% 20%,
      rgb(245, 255, 204) 0%,
      rgb(255, 226, 226) 90%
    );

    outline: 4px solid $cWhite;
    outline-offset: 2px;

    border-radius: 10px;
    box-sizing: border-box;
    &::after {
      position: absolute;

      bottom: 180px;
      right: -5px;
      width: 83px;
      height: 83px;
      content: "";
      display: inline-block;
      background-image: url(./images/card.png);
      background-size: contain;
      vertical-align: middle;
      background-repeat: no-repeat;
      @include mq(ssm) {
        bottom: 135px;
        right: -15px;
        width: 110px;
        height: 110px;
      }
      @include mq(sm) {
        bottom: 120px;
        right: -15px;
        width: 110px;
        height: 110px;
      }
      @include mq(md) {
        bottom: 125px;
        right: -5px;
        width: 120px;
        height: 120px;
      }
      @include mq(lg) {
        right: -20px;
        bottom: 20px;
        width: 150px;
        height: 150px;
      }
    }
  }
  &__tit {
    background: #e3007f;
    padding: 10px;

    & > h3 {
      font-size: clamp(17px, 4vw, 30px);

      text-align: center;
      color: $cWhite;
      position: relative;
      z-index: 100;
    }
  }

  &__desc {
    @extend .mb-sm;
    @extend .font-md;
    padding: 10px 20px;
    & p {
      &:nth-child(2) {
        @extend .font-ssm;
        margin-top: 5px;
      }
    }
    @include mq(md) {
      padding: 20px 30px;
    }
    @include mq(lg) {
      padding: 40px 50px;
    }
  }
}
.auxiliary {
  max-width: $contentMaxWidth;
  @extend .content-width;
  @extend .pb-md;
  &__inner {
    display: flex;
    justify-content: center;
  }
  &__desc {
    padding: 20px;
    background: $cWhite;
    outline: 4px solid $cWhite;
    outline-offset: 2px;
    border: solid 2px #54c2f0;
    border-radius: 10px;
    box-sizing: border-box;
    & > h3 {
      @extend .font-lr;
      text-align: center;
      @extend .mb-sm;
    }

    & > ul {
      @extend .font-sm;
      padding-left: 5%;
      line-height: 1.8;
      @extend .mb-sm;

      & li {
        position: relative;
        list-style: none;
        margin-bottom: 10px;
        &::before {
          content: "\025ce";
          /* 配置を調整 */
          position: absolute;
          display: block;
          top: 0.5px;
          left: -21px;
        }
      }
    }
    &-txt {
      margin-bottom: 16px;
      & p {
        @extend .font-md;
        & > span {
          display: block;
        }
      }
    }
  }
  &__btn {
    text-align: center;
    & > span {
      @extend .font-md;
      font-weight: 500;
      @include mq(md) {
        margin-right: 20px;
      }
    }
    & > a {
      background: #e3007f;
      color: $cWhite;
      @extend .font-sm;
      border-radius: 3px;
      font-weight: 400;
      pointer-events: none;
    }
  }
}

.join-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  z-index: 1000;

  &.triggered {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 10px 0 25px -10px rgba(102, 102, 102, 0.5);

    transition-delay: 0.5s;
    height: 65px;
    @include mq(md) {
      height: 100px;
    }
  }
  &__inner {
    @extend .content-width;
    height: 100%;
    padding: 10px 0;
  }
  &__btn {
    text-align: center;
    & > a {
      margin: 0 auto;
      background-color: $cPink !important;
      padding: 10px 30px;
      width: 90%;
      max-width: 300px;
      color: $cWhite;
      border-radius: 30px;
      letter-spacing: 0.1em;
      @extend .font-lr;
    }
  }
}

.record {
  @extend .pt-md;
  @extend .pb-lg;
  background-color: $cLight-Green;

  &__inner {
    max-width: $contentMaxWidth;
    @extend .content-width;
    background: $cGreen;
    padding: 30px 20px;
    border-radius: 20px;
    & .section-titles {
      color: $cWhite;
    }
  }
  &__wrap {
    @extend .flex;
    justify-content: space-between;
  }

  &__title {
    @extend .mb-sm;
    @extend .font-sm;
  }

  &__item {
    @extend .mb-md;

    @include mq(md) {
      flex-basis: 49%;
    }
    @include mq(lg) {
      flex-basis: 32%;
    }

    & time {
      text-decoration: none;
      font-size: 12px;
      font-family: "Zen Kaku Gothic Antique", sans-serif;
    }
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;

    & .btn {
      max-width: 300px;
      width: 100%;
      border-radius: 30px;
      &::after {
        content: "\f054";
        font-family: "Font Awesome 5 free";
        font-weight: 600;
        position: absolute;
        right: 10px;
      }
    }
  }
  &__img {
    width: 100%;
    height: 180px;
    @include mq(md) {
      height: 230px;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__contents {
    padding: 10px 5px;
  }
  &__desc {
    font-size: 13px;
  }
  &__notInfo {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cWhite;
  }
}

.footer {
  background: $cBgGray;

  &__inner {
    padding: 60px 0;
    @extend .content-width;
    @extend .flex;
    justify-content: space-between;
    @include mq(md) {
      padding: 60px 0 86px 0;
    }
  }
  &__left {
    flex-basis: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(md) {
      justify-content: start;
    }

    &-desc {
      & p {
        font-weight: bold;
        @extend .font-lr;
        &:nth-child(2) {
          @extend .font-xl;
        }
      }
    }
  }
  &__right {
    flex-basis: 30%;
    display: flex;
    justify-content: end;
  }

  &__img {
    max-width: 170px;
    margin: 0 auto;
    @include mq(md) {
      margin: 0;
    }
  }
  &__contact-btn {
    text-align: center;
    & .btn {
      border: 1px solid $lightGray;
    }
    @include mq(md) {
      text-align: left;
    }
  }
}

.event-info {
  background-color: $cLight-Green;
  @extend .pt-md;
  @extend .pb-md;
  &__inner {
    max-width: $contentMaxWidth;
    @extend .content-width;
    padding: 20px;
    outline: 4px solid $cWhite;
    outline-offset: 2px;
    border: solid 2px $cGreen;
    border-radius: 10px;
    box-sizing: border-box;
    & .section-titles {
      color: $cGreen;
    }
  }
  &__desc {
    @extend .flex;
    justify-content: space-between;
  }
  &__desc-right,
  &__desc-left {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 49%;
    & > span {
      font-family: "Zen Kaku Gothic Antique", sans-serif;
    }
    & h4 {
      @extend .font-md;
    }
    & .btn {
      border-radius: 10px;
      width: 100%;
      & span {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: $cWhite;
        @extend .font-sm;
        &:nth-child(2) {
          @extend .font-md;
        }
      }
    }
  }
  &__desc-left {
    & .btn {
      background: $cGreen;
    }
  }
  &__desc-right {
    & .btn {
      background: $lightGray;
      pointer-events: none;
      & > span {
        min-height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend .font-md;
      }
    }
    & .event-info__pdf-btn {
      &::before {
        color: $lightGray;
      }
      & > a {
        color: $lightGray;
      }
    }
  }

  &__pdf-btn {
    @include mq(md) {
      margin-right: 30px;
    }

    &::before {
      content: "\025cf";
      width: 20px;
      height: 20px;
      color: #2e5895;
    }
    & > a {
      font-family: "Zen Kaku Gothic Antique", sans-serif;
      color: #2e5895;
      text-decoration: none;
      @extend .font-sm;
      font-weight: 500;
    }
  }
}
